<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error Sets</title>
    <meta name="description" content="Error Sets">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Function Name</th>
            <th scope="col">Function File</th>
            <th scope="col">Package File</th>
            <th scope="col">Index In Error Set</th>
            <th scope="col">View Errors</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < error_set.length; i++) { %>
          <tr>
            <th><%= error_set[i].function_name === null || error_set[i].function_name === undefined ? 'not set' : error_set[i].function_name %></th>
            <th><%= error_set[i].directory === null || error_set[i].directory === undefined ? 'not set' : error_set[i].directory %></th>
            <th><%= error_set[i].file_name === null || error_set[i].file_name=== undefined ? 'not set' : error_set[i].file_name %></th>
            <th><%= error_set[i].index_of_error_set === null || error_set[i].index_of_error_set === undefined ? 'not set' : error_set[i].index_of_error_set %></th>
            <td class = 'click_me' id = 'identity-<%=i%>' style = 'cursor: pointer; text-decoration: underline' data-json = '<%=JSON.stringify(error_set[i])%>'>View</td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Errors</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id = 'fill_me'>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  </body>
  <script>
    let click_me = document.getElementsByClassName('click_me');
    for(let i = 0; i < click_me.length; i++) { click_me[i].onclick = function() { open_modal(i); } }
    function open_modal(i) { 
      var element = document.getElementById(`identity-${i}`);
      var json_string = element.dataset.json;
      json_string = JSON.parse(json_string);
      document.getElementById('fill_me').innerHTML = '';
      $('#exampleModal').modal('toggle');
      for (const [key, value] of Object.entries(json_string)) {
       document.getElementById('fill_me').innerHTML += `
        ${key}: ${value} <br><br>
       `;
      }
     }
  </script>
</html>